   <div class = "row row-1">

       <div class = "col-6 col-xl-2 col-lg-2 col-md-6 col-sm-6 text-center">
           <img id="emblum" class="img-responsive" src="../../assets/images/logo1.png">
       </div>

       <div class = "col-12 col-lg-8 col-xl-8 order-2 order-md-12 order-2 order-sm-12 order-md-0 order-lg-0">
           <h1 class="heading">Knowledge Portal for CRIS</h1>
       </div>
       
       <div class = "col-6 col-xl-2 col-lg-2 col-md-6 col-sm-6 text-center">
            <img id="cris" class="img-responsive" src="../../assets/images/logo8.png"> 
       </div>

   </div>

   <div class = "row row-2">

                <div class="col menu"><a routerLinkActive="active" routerLink="/home">Home</a></div>
                <div class="col menu"><a routerLinkActive="active" routerLink="/news">News</a></div>
                <div class="col menu"><a routerLinkActive="active" routerLink="/contact">Contact</a></div>
                <div class="col menu"><a routerLinkActive="active" routerLink="/about">About</a></div>
                <div class="col menu"><a routerLinkActive="active" routerLink="/signin">Login/Sign Up</a></div>
           
   </div>
   
