<div class="bg-image">
  <div class="container-fluid">

   <div class = "row row-1">

       <div class = "col-2">
           <img id="emblum" src="../../assets/images/logo1.png">
       </div>

       <div class = "col-8">
           <h1 class="heading">Knowledge Portal for CRIS</h1>
       </div>

       <div class = "col-2">
           <img id="cris" src="../../assets/images/logo8.png">
       </div>

   </div>

   <div class = "row row-2">

       <div class = "nav-bar">
           <a routerLinkActive="active" routerLink="/home">Home</a>
           <a routerLinkActive="active" routerLink="/news">News</a>
           <a routerLinkActive="active" routerLink="/contact">Contact</a>
           <a routerLinkActive="active" routerLink="/about">About</a>
           <a routerLinkActive="active" routerLink="/signin">Login/Sign Up</a>
       </div>

   </div>

   </div>
</div>