.heading
{
    font-size: 60px; 
    text-align: center;
    font-family: 'Baufra';
    color: brown;
    line-height:126px;
}

#emblum
{   
    width:100px;
    height: 140px;
}

#cris
{
    width: 150px;
    height: 140px;
    opacity: 2.5;
}

.menu:hover>a
{
    color:black !important;
    text-decoration: none;
}

.row-1
{
    padding-top: 15px;
}

.row-2
{
    padding-top: 50px;
}

.menu 
{
    background-color: black;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

a
{
    color: white;
}

.col:hover
{
    background-color: white;  
}

.row
{
    background-color: lightskyblue;
}
@media only screen and (max-width: 600px)
{
    .heading
    {
        font-size: 45px;
    }
    .row-2
    {
        padding-top: 0px;
    }
}
@media only screen and (max-width: 1200px)
{
    .heading
    {
        font-size: 50px;
    }
    .row-2
    {
        padding-top: 40px;
    }
    #cris
    {
        padding-right: 15px;  
    }
}
@media only screen and (max-width: 800px)
{
    .row-2
    {
        padding-top: 0px;
    }
}