.footer
{
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-family: 'Baufra';
    background: url('../../assets/images/img7.png');
    height: 70px;
}
#foot
{
    padding-top: 8.5px;
}