<div class="bg-image" >
  <div class="container-fluid">

    <form name="signin">

      <div class="login-box">

          <h1>SIGN IN</h1>
      
          <div class="textbox">
              <i class="fa fa-user" aria-hidden="true"></i>
              <input placeholder="User Name" 
              name="user" 
              type="text" 
              [(ngModel)]="user" 
              autocomplete="off"
              minlength="6" 
              required>
          </div>

          <div class="textbox">
              <i class="fa fa-lock" aria-hidden="true"></i>
              <input placeholder="Password" 
              name="pass" 
              type="password" 
              [(ngModel)]="pass"
              pattern="(?=.*\d)(?=.*[A-Z]).{8,}" 
              required>
          </div>

          <button class="btn" 
          type="button" 
          (click)="mysubmit()"
          style="color: black; font-family: baufra; font-weight: bold">Sign In</button>

          <div class="foot">
              <a routerLinkActive="active" routerLink="/signup" style="color: red">Don't have an Account? Click Here</a>
              
            </div>


      </div>

    </form>

  </div>
</div>