<div class="row row-main">

    <div class="col-12">

        <div class="row row1">

                <div class="col-12"> 
            
                    <h1>About CRIS</h1>
            
                </div>
                
            </div>
            
            <div class="row row2">
            
                <div class="col-12">
            
                    <p>The Ministry of Railways set up CRIS as a Society in July 1986. We are headquartered in New Delhi, with Regional offices in 
                    Delhi, Kolkata, Mumbai, Chennai, and Secunderabad.Our current portfolio of projects covers the gamut of Indian Railways functions, 
                    such as passenger ticketing, freight operations, train dispatching and control, crew management, e-procurement, management of Railways 
                    fixed and moving assets, and production of rolling stock. Our information systems provide services in the remotest of locations, 
                    from Kargil to Kanniyakumari, from Tawang to the Andaman Islands.</p>
            
                    <p>Our human resources are our strength. Our 800 personnel include a pool of competent IT professionals, whose skillsets include 
                    system architecture, system analysis and design, and program development, complemented by an experienced group of serving and 
                    former Railway personnel with domain knowledge and system implementation skills. This unique combination gives us an unbeatable 
                    edge in the Railway and Government sector.</p>
            
                    <p>Our collaborative model of working ensures the delivery of cost-effective, sustainable information systems. We have been 
                    successful in using cutting edge technologies in practical ways to ensure workable IT solutions for the Railways in many areas.</p>
            
                    <p>We are currently developing systems to cover emerging needs of the Railways including the protection of Railway assets, energy 
                    management, management of the overhead electrification system, parcel management, employees’ health management, and a 
                    comprehensive financial management system.</p>
            
                    <p>Other projects under execution include development of ticketing on mobile phones, linking tickets to Aadhaar, tracking of 
                    trains in real time through GPS, tracking of rolling stock using radio frequency identification, setting up a geo-spatial 
                    database for the Railways, and the setting up a state-of-the-art datacentre to house the Railways’ IT system.</p>
            
                </div>
            
            </div>
            
        </div>
</div>