<div class="row bg">
  <div *ngIf="success" class="alert success">
    <span class="closebtn" (click)="closebtn()">&times;</span>  
     Post Submitted Successfully.
  </div>

  <br>
  <br>
  
  <div class="sub-container col-xl-10  col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-10 offset-1">
    <br>  
    <div class ="row">
      <div class ="title1 col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">  
        <h1>Discussion Forum</h1>
      </div>
    </div>
    
    <br><br>
    
    <div class = "row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class = "card creator">

          <div class="card-title" style="background-color:  rgba(60, 221, 54, 0.767)">
            <h4>Create New Post</h4>
          </div>

          <div class="card-body">
            <form name="disscussion" class="was-validated">
              <div class = "row">
                <div class = "col">
                  <label>Title:&nbsp;&nbsp;</label>
                    <input placeholder="Enter the title"
                    class="form-control" 
                    id ="title1" 
                    name="title" 
                    type="text" 
                    [(ngModel)]="obj1.title" 
                    #titlecontrol="ngModel" 
                    autocomplete="off"
                    required> 
                    <div class="valid-feedback">Valid.</div>
                      <div *ngIf="titlecontrol.invalid && (titlecontrol.dirty || titlecontrol.touched)">
                          <div style="color: red" *ngIf="titlecontrol.errors.required">Title required.</div>
                      </div>                  
                </div>
              <div class = "col" style="padding-top: 10px">    
                <div class = "row">              
                  <div class = "col-xl-3 col-lg-3 col-sm-3 col-3">
                    <label>Content:&nbsp;&nbsp;</label>
                  </div>
                  <div class = "col-xl-9 col-lg-9 col-sm-9 col-9 ">      
                    <textarea placeholder="Enter the content" 
                    class="form-control" 
                    rows="5" 
                    id="comment" 
                    name="description" 
                    [(ngModel)]="obj1.description" 
                    #descriptioncontrol="ngModel"
                    required></textarea>
                    <div class="valid-feedback">Valid.</div>    
                    <div *ngIf="descriptioncontrol.invalid && (descriptioncontrol.dirty || descriptioncontrol.touched)">
                        <div style="color: red" *ngIf="descriptioncontrol.errors.required">Content required.</div>
                    </div>  
                  </div>
                </div>
              </div>
            
                <div class = "col submitbtn">
                  <button type="button" class="btn btn-primary menu" (click)="posted_details()">    
                    Create a thread
                  </button>      
                </div>
              </div>
           </form>
          </div>
        </div>
      </div>
    </div>

    <div class = "row">
      <div class ="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card display" *ngFor= "let item of obj">
        
          <div class="card-title">
        
          <!--  <a [routerLink] = "['/thread',item.title,item.description,item.threadNo,item.owner]"><h4>{{item.title}}</h4></a>
          -->
          
          <a routerLink='/thread' (click)="setvalue(item.title,item.description,item.threadNo,item.owner)"><h4>{{item.title}}</h4></a>
          
          </div>
          
          <div class = "card-body">
            {{item.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

