<div class="row row-main">

    <div class="col-12">

        <div class="row row1">

            <div class="offset-1 col-10">

              <h1>Latest News</h1><br>

              <p id="demo"></p> 

            </div>

        </div>

        <div class="row row2">

            <div class="column">

              <div class="card">

                <h3>Card 1</h3>

                <p>Some text</p>

              </div>

            </div>

            <div class="column">
    
                <div class="card">
    
                    <h3>Card 1</h3>

                    <p>Some text</p>
    
                </div>
    
            </div>

            <div class="column">
    
                <div class="card">
        
                    <h3>Card 1</h3>
    
                    <p>Some text</p>
        
                </div>
        
            </div>

            <div class="column">
    
                <div class="card">
            
                    <h3>Card 1</h3>
        
                    <p>Some text</p>
            
                </div>
            
            </div>      

        </div>

    </div>

</div>
