<div class="row row-main">

    <div class="col-12">

        <div class="row row1">

            <div class="offset-1 col-10">

              <h1>Latest News</h1><br>

              <p id="demo"></p> 

            </div>

        </div>

        <div class="row row2">

            <div class="column">

              <div class="card">

                <h3>New Railway Timetable To Come Into Effect From 01st July, 2019.</h3>

                <p>Northern Railway (NR) has reshuffled the timings of around 267 trains, it said, adding that the new timetable would 
                come into effect from Monday i.e. from 01st July,2019.</p>

                <a href="https://www.ndtv.com/india-news/new-railway-timetable-to-come-into-effect-from-today-2061876">Read More Here</a>

              </div>

            </div>

            <div class="column">
    
                <div class="card">
    
                    <h3>Rain throws Central Railway services out of gear.</h3>

                    <p>Incessant rainfall since Monday night threw local rail services on Central Railway (CR) completely out of gear on 
                    Tuesday morning. CR is operating locals only up to Thane on the Central Line and Vashi on the Harbour Line. All 
                    locals to Chhatrapati Shivaji Maharaj Terminus (CSMT), Dadar and Kurla have been suspended.</p>

                    <a href="https://www.thehindu.com/news/cities/mumbai/rain-throws-central-railway-services-out-of-gear/article28258886.ece">
                    Read More Here</a>
    
                </div>
    
            </div>

            <div class="column">
    
                <div class="card">
        
                    <h3>CRIS Recruitment 2019 through GATE 2019.</h3>
    
                    <p>Centre for Railway Information Systems (CRIS) has published a short notification for the recruitment of Assistant 
                    Software Engineer (ASE) Posts.  CRIS ASE Detailed notification will be published in 6th July 2019 Employment News.
                    Eligible candidates can apply for CRIS ASE post in through CRIS official website w.e.f. from 08 July 2019. ASE 
                    selection would be based on GATE-2019 score of Computer Science & Information Technology (CS) Paper.</p>  
        
                </div>
        
            </div>

            <div class="column">
    
                <div class="card">
            
                    <h3>Indian Railways to offer non-subsidised train tickets to help bear maintenance costs.</h3>
        
                    <p>Indian Railways is currently working on a system that will enable people booking long-distance tickets to not buy 
                    a ticket at  a subsidised rate. Two options for purchasing rail tickets may soon be available – ‘purchase ticket 
                    without subsidy’ and ‘purchase ticket with subsidy’. Those opting to purchase a ticket without subsidy will have to 
                    bear a higher fare.</p>
        
                    <a href="https://www.moneycontrol.com/news/trends/give-it-up-indian-railways-to-offer-non-subsidised-train-tickets-to-help-bear-maintenance-costs-4119261.html">Read More Here</a>
            
                </div>
            
            </div>      

        </div>

    </div>

</div>
