<div class="bg">

  <div class="row row1">

    <div class="col-12">

      <h1>Welcome User</h1>

    </div>

  </div> 

  <div class="row row2">

    <div class="col-12">

      <div class="main">

        <button type="button" 
        style="margin: 10px" 
        class="btn btn-primary menu"
        routerLinkActive="active" 
        routerLink="/upload">
        <i style="margin-right: 10px" class="fa fa-upload"></i>Upload Documents</button>

        <button type="button" 
        style="margin: 10px" 
        class="btn btn-primary menu"
        routerLinkActive="active" 
        routerLink="/forum">
        <i style="margin-right: 10px" class="fa fa-group"></i>Discussion Forum</button>

        <button type="button" 
        style="margin: 10px" 
        class="btn btn-primary menu"
        routerLinkActive="active" 
        routerLink="/suggestion">
        <i style="margin-right: 10px" class="fa fa-commenting-o"></i>Suggestion Box</button>

      </div>

    </div>

  </div>

</div>  