@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.bg-image
{
    background: url('../../assets/images/limg3.jpg') no-repeat center;
    height: 100%;
    background-size: cover;
}
.row
{
    padding-top: 60px;
}
.login h1
{
    color: brown;
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 250px;
}
.textbox
{
    width: 250px;
    font-size: 20px;
    margin: 15px 0;
    padding: 10px 0;
    border-bottom: 1px solid brown;
    box-shadow: 0 5px 10px rgba(0,0,0,1);
    border-radius: 2px;
}
.textbox input
{
    border: none;
    background: none;
    font-size: 20px;
}
.textbox i
{
    width: 26px;
    text-align: center;
    color: black;
}
.textbox ::placeholder
{
    color: black;
    font-weight: bold;
    font-family: 'baufra';
}
.btn
{
    width: 250px;
    font-size: 20px;
    background: none;
    border: 1.5px solid black;
    padding: 5px;
    margin: 15px 0;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,1);
}
.btn:hover
{
    background-color: green;
    border: 1.5px solid green;
    transition-duration: 0.4s;
}
.foot
{
    width: 250px;
    text-align: center;
    margin-bottom: 50px; 
}