@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
i
{
    text-align: center;
    color: white;
    margin-right: 10px;
    padding-top: 5px;
}
.row1
{
    padding-top: 60px;
    padding-bottom: 60px;
    background: url('../../assets/images/3.png') no-repeat center;
    background-size: cover;
}
.bg
{
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
    padding-bottom: 30px;
}
h1
{
    font-family: 'baufra';
    font-size: 60px;
    text-align: center;
    border-bottom: 4px solid white;
    color: white;
}
input
{
    background:rgba(255, 255, 255, 0.5);
}
input::placeholder
{
    color: black;
    font-family: 'baufra';
    font-size: 16px;
}
.menu
{   
    color: white;
    font-family: 'baufra';
    font-size: 25px;
}
.submit_btn
{
    font-family: 'baufra';
}
.foot
{
    text-align: center;
    padding-top: 10px;
}
