<div class="row row-main">

  <div class="col-12">

    <div id="mySidenav" class="sidenav">
      <a routerLinkActive="active" routerLink="/welcome" id="about">Welcome Page</a>
      <a routerLinkActive="active" routerLink="/upload" id="blog">Upload Documents</a>
      <a routerLinkActive="active" routerLink="/forum" id="projects">Disscussion Forum</a>
      <a routerLinkActive="active" routerLink="/suggestform" id="contact">Suggestion Form</a>
    </div>

    <div class="row row1">

      <div class="offset-3 col-6">

        <div class="contact-form">

            <h1>Upload Here</h1><br>

            <form name="upload">

              <div class="form-group">

                <label>Description</label>
                <input placeholder="Enter file description"
                type="text"
                name="des" 
                class="form-control"><br>

                <label>Select a file</label>

              </div>

            </form>

        </div>

      </div>

    </div>

  </div>

</div>