
.bg
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,51,168,1) 22%, rgba(0,212,255,1) 76%);
}

.sub-container
{
    background: rgba(255,255,255,0.45);
	border: 1px solid rgb(58, 58, 55);
    width: auto;
    height: auto;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom:50px;
}

.title
{
    font-weight: bold;
    text-align: center;
    color: black;
    
}
.card
{
    font-family: 'Archivo', sans-serif;
    margin-bottom: 40px;
    opacity: 0.8;
}

.card:hover
{
    box-shadow: 3px 3px 8px rgb(248,129,99);
}

.card-title
{
    background-color: rgba(248, 129, 99, 0.781);
}

h1
{
    font-family: 'Archivo', sans-serif;
    font-size: 50px;
}

.creator
{
    text-align: center;
}

.creator:hover
{
    box-shadow: 3px 3px 8px rgb(60,221,54);
}

.submitbtn
{
    text-align: center;
    padding-top: 40px;
}


@media only screen and (max-width: 400px) 
{
    h1
    {
        font-size: 30px;
    }
}   

