.container-fluid
{
    background: url('../../assets/images/discussion4.jpg');
    background-size: cover;
    background-position: center; 
}

.sub-container
{
    background: rgba(0,0,0,0.5);
    color: black;
	border: 1px solid rgb(58, 58, 55);
    width: auto;
    height: auto;
    border-radius: 10px;
}

.title
{
    font-weight: bold;
    text-align: center;
    color: white;
    
}

.card
{
    font-family: 'Archivo', sans-serif;
    margin-bottom: 40px;
    opacity: 0.8;
}

.card:hover
{
    box-shadow: 3px 3px 8px rgb(248,129,99);
}

.card-title
{
    background-color: rgba(248, 129, 99, 0.781);
}

h1
{
    font-family: 'Archivo', sans-serif;
    font-size: 50px;
}

.creator
{
    text-align: center;
}

.creator:hover
{
    box-shadow: 3px 3px 8px rgb(60,221,54);
}

.submitbtn
{
    text-align: center;
    padding-top: 40px;
}


@media only screen and (max-width: 400px) 
{
    h1
    {
        font-size: 30px;
    }
}   

