       <div class="bg-image">
       <div class="container-fluid">
        

        <div class = "row row-3">
            <div class = "col-12 slide">
                    
                <div class="myslide fade">
                    <div class="text">1 / 4</div>
                    <img id="image1" src="../../assets/images/img1.webp" width="100%">
                </div>

                <div class="myslide fade">
                    <div class="text">2 / 4</div>
                    <img id="image2" src="../../assets/images/img2.jpg" width="100%">
                </div>

                <div class="myslide fade">
                    <div class="text">3 / 4</div>
                    <img id="image3" src="../../assets/images/img3.jpg" width="100%">
                </div>

                <div class="myslide fade">
                    <div class="text">4 / 4</div>
                    <img id="image4" src="../../assets/images/img4.jpg" width="100%">
                </div>

                <br>

                <div style="text-align:center">
                    <span class="dot"></span> 
                    <span class="dot"></span> 
                    <span class="dot"></span> 
                    <span class="dot"></span>
                </div>

            </div>

        </div>

        <div class = "row row-4">
            <div class = "col-3 card1">
                <h2 style="text-align: center">Railway Minister</h2>
                <br>
                <img id="image5" src="../../assets/images/img5.jpg" width="80%">
                <br><br>
                <h2 style="text-align: center">Piyush Goyal</h2>
                <p>Piyush Ved Prakash Goyal (born 13 June 1964) is an Indian politician and the current minister of Railways and
                Commerce in the Government of India. He was elevated to Cabinet Minister position on 3 September 2017.Piyush Goyal has 
                been allocated the cabinet ministry for Narendra Modi led NDA government in May 2019.</p>
            </div>

            <div class = "col-4 card2">
                <h2 style="text-align: center">ABOUT CRIS</h2>
                <p>The Ministry of Railways set up CRIS as a Society in July 1986. We are headquartered in New Delhi, with Regional
                offices in Delhi, Kolkata, Mumbai, Chennai, and Secunderabad.Our current portfolio of projects covers the gamut of
                Indian Railways functions, such as passenger ticketing, freight operations, train dispatching and control, crew management,
                e-procurement, management of Railways fixed and moving assets, and production of rolling stock. Our information systems 
                provide services in the remotest of locations, from Kargil to Kanniyakumari, from Tawang to the Andaman Islands.</p>
                <p>Our human resources are our strength. Our 800 personnel include a pool of competent IT professionals, whose skillsets 
                include system architecture, system analysis and design, and program development, complemented by an experienced group of 
                serving and former Railway personnel with domain knowledge and system implementation skills. This unique combination gives
                us an unbeatable edge in the Railway and Government sector.</p>
                <p>Our collaborative model of working ensures the delivery of cost-effective, sustainable information systems. We have 
                been successful in using cutting edge technologies in practical ways to ensure workable IT solutions for the Railways in
                many areas.We are currently developing systems to cover emerging needs of the Railways including the protection of 
                Railway assets, energy management etc.</p>
            </div>

            <div class = "col-3 card3">
                <h2 style="text-align: center">From MD's Desk</h2>
                <br>
                <img id="image6" src="../../assets/images/img6.jpg" width="100%">
                <br><br>
                <h2 style="text-align: center">Mukesh Nigam</h2>              
                <p>The most critical success task for CRIS is knowledge creation, dissemination & preservation. It is hoped that the 
                knowledge management portal will trigger a quantum jump in this field. Please feel free to give your suggestions / 
                recommendations to make the portal both useful & friendly to all the members of the CRIS fraternity.</p>
            </div>

        </div>

      </div>
      </div>