.row
{
    background-color: lightskyblue;
}
.row-3
{
    padding-top: 50px;
}
.img 
{
    height: 500px;
    width: 1300px;
}
.row-4
{
    padding-top: 40px;
}
.cards
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    font-family: 'Baufra';
    padding-top: 10px;
    text-align: justify;
    background-color: white; 
}
.card1:hover, .card2:hover, .card3:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}
#image5
{
    height: 300px;
    width: 300px;
    padding-left: 70px;
}
#image6
{
     height: 300px;
}
